body {
    background: #EDEDF5;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
}

.btn {
    padding: 10px;
}

.card {
    border-radius: 10px;
    box-shadow: 0 1px 3px 0px rgb(0, 0, 0.00);
    border: none;
}


/* ---------------------Auth -----------------------*/

.auth-form {
    box-shadow: 0 7px 8px rgb(3, 1, 3);
    border: none;
}

.auth-form a {
    color: #333;
    text-decoration: none;
}

.auth-form a:hover {
    color: #5842E3;
}

.btn-theme {
    background: #5842E3;
    color: #fff;
}

.btn-theme:hover {
    background: #5842E3;
    color: #fff;
}


/*----------------------------Header Menu-------------*/

.header-menu {
    background: #fff;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
    padding-top: 12px;
    padding-bottom: 12px;
}

.header-menu i {
    font-size: 20px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.header-menu a {
    text-decoration: none;
    color: #333;
}

.header-menu p {
    font-size: 20px;
    margin-bottom: 0;
}

.header-menu a:hover i {
    color: #5842E3;
    transition: 0.3s;
}

.header-menu a:hover p {
    color: #5842E3;
    transition: 0.3s;
}


/*----------------------------Bottom Menu-------------*/

.bottom-menu {
    background: #fff;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}

.bottom-menu i {
    font-size: 18px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.bottom-menu a {
    text-decoration: none;
    color: #333;
    display: block;
}

.bottom-menu a:hover i {
    color: #5842E3;
    transition: 0.3s;
}

.bottom-menu a:hover p {
    color: #5842E3;
    transition: 0.3s;
}


/*----------------------------Content Munu---------------------------------------*/

.content {
    margin-top: 75px;
    margin-bottom: 75px;
}


/*----------------------------Account----------------------------------*/

.account {}

.profile {
    text-align: center;
}

.profile img {
    border-radius: 100%;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 1px solid #ddd;
    background: #fff;
    padding: 5px;
}

.account .logout {
    cursor: pointer;
}


/* SweetAlert2 CSS */

.swal2-popup {
    border-radius: 10px !important;
}

.swal2-title {
    font-size: 18px!important;
}

.swal2-styled.swal2-confirm {
    background-color: #5842E3 !important;
}

.swal2-styled {
    border-radius: 10px !important;
    padding: 10px 25px !important;
}


/* a Tag */

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    text-decoration: none;
    color: #5842E3;
}


/*------------------------------ update-password --------------------------------- */

.update-password img {
    width: 220px;
}


/* -------------------------scan-tab--------------------------------- */

.scan-tab {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    position: fixed;
    text-align: center;
    right: 0;
    left: 0;
    background-color: #EDEDF5;
    align-items: center;
    display: flex !important;
    bottom: 50px;
    justify-content: center;
    margin: 0 auto;
}

.scan-tab .inside {
    width: 52px;
    height: 52px;
    border-radius: 100%;
    background-color: #fff;
    align-items: center;
    display: flex;
    justify-content: center;
    animation: glow 5s infinite;
}

.scan-tab .inside i {
    margin: 0;
}


/* --------------Animation------------------ */

@keyframes glow {
    0% {
        box-shadow: 0 0 -10px #5842E3;
    }
    25% {
        box-shadow: 0 0 15px #333;
    }
    50% {
        box-shadow: 0 0 15px #4dffa6;
    }
    100% {
        box-shadow: 0 0 -10px #ff4d4d;
    }
}


/* -------------------------Wallet------------------- */

.wallet .my-card {
    background: #5842E3;
    color: #fff;
}

.wallet .my-card span {
    text-transform: uppercase;
    font-size: 12px;
    /* margin-bottom: 40px; */
    display: inline-block;
    margin-bottom: 5px;
    color: #EDEDF5;
}

.card.my-card h4 {
    font-size: 22px;
    font-weight: 900;
}

.card.my-card h5 {
    font-size: 18px;
    font-weight: 900;
}

.card.my-card p {
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase;
}


/*------------------------------------- Home-------------- */

.shortcut-box img {
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

.function-box img {
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

.transaction-detail img {
    width: 60px;
    /* height: 28px; */
    margin-right: 5px;
}